<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add Artist to Favorites</h3>
    </div>
    <div class="panel-body">
        <div>
        <label>Artist Name:</label>
        <br>
        <input #newName type="text" placeholder="Search" (keyup.enter)="searchArtist(newName.value)">
        </div>
    </div>
</div>

<!--     {{getArtistById(searchRes[0].id)}} -->
<div [hidden] = "hideSearch">
    <div *ngFor="let res of searchRes">  
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <h4>{{res.name}}</h4>
                    <div>
                        <strong>Genres: </strong>
                        <span *ngFor="let genre of res.genres">{{genre}} </span>
                        <button type="button" class="btn btn-success" (click)="getArtistById(res.id)">List Albums</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [hidden] = "hideAlbum">
    <div *ngFor="let res of albumRes">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <strong><a routerLink="../marketplace" (click)="submitArtist(res.name, res.artists[0].name)">{{res.name}}</a></strong>
                </div>
            </div>
        </div>
    </div>
</div>
