<h4>Edit Album!</h4>

<label>New Album Title:</label>
<input [(ngModel)]="selectedAlbum.title">
<br>

<label>New Album Artist:</label>
<input [(ngModel)]="selectedAlbum.artist">
<br>

<label>New Album Image:</label>
<input [(ngModel)]="selectedAlbum.image">
<br>

<button [routerLink]="['../marketplace']" type="button" class="btn btn-warning" (click)="beginUpdatingAlbum(selectedAlbum)">Update</button>
<button type="button" class="btn btn-danger" (click)="beginDeletingAlbum(selectedAlbum)">Delete</button>