/* You can add global styles to this file, and also import other style files */
$pink: #d13877;
$darkpurple: #7f25c1;
$lightgray: #efefef;
$purple: #7c25f8;
$black: #232323;
$white: #ffffff;
$green: #9bf0e1;

html * {
  font-family: 'Montserrat', sans-serif;
}

html {
  // font-family: 'Montserrat', sans-serif;

	background: url(ana.jpg) no-repeat center center fixed; 
  background-size: cover;
  h1 {
    color: $white;
  }
  h2 {
    color: $green;
  }
  p {
    color: $white;
  }
}

body {
  font-family: 'Diplomata SC', cursive;
}

.clear { 
  clear: both; height: 60px; 
}

.container {
  background-color: #2d2d2d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.panel {
  color: $white;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $pink, $darkpurple); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $pink, $darkpurple); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $pink, $darkpurple); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $pink, $darkpurple); /* Standard syntax */
}

img.coverart {
  font-size: 12px;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

input {
  color: $black !important;
}

.footer {
	font-size: 12px;
  position: fixed;
  bottom: 1px;
  width: 100%;
  height: 20px;
  background-color: $lightgray;
  padding: 15px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

[hidden] {
  display: none !important;
}